header{
  display: flex;
  justify-content: center;
  gap:300px;
  background-color: rgb(47, 47, 47);
  padding-bottom: 20px;
}
a{
 text-decoration: none;
 margin-right: 50px;
 color: white;
 font-weight: bold;
}
.div2 {
  padding-top: 40px;
  font-size: 20px;  
}
.div1{
  padding-top: 30px;
}
.div3{
  padding-top: 35px;
}
header button{
  padding: 9px 46px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(124, 168, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
header button:hover{
  background-color: rgb(172, 227, 136);
  border-radius: 20px;
  color: black;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
main{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  padding: 60px;
  color: rgb(0, 0, 0);
}
span{
  color:rgb(124, 168, 96);
}
main h1{
  font-size: 75px
}
main p{
  font-size: 20px;
  font-weight: bold;
}
main img{
  border-radius: 20px;
  box-shadow: 2px 5px 20px rgb(79, 79, 79);
  transition: 0.4s ease-in-out;
}
main img:hover{
  box-shadow: 2px 5px 40px rgb(114, 114, 114);
}
main button{
  padding: 9px 46px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgb(124, 168, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
main button:hover{
  background-color: rgb(172, 227, 136);
  border-radius: 20px;
  color: black;
}
.why{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  background-color: rgb(207, 208, 207);
}
.card{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 100px;
  margin-bottom: 80px;
  margin-left: 150px;
  margin-right: 150px;
}
.card div{
  box-shadow: 2px 3px 10px grey;
  width: 8cm;
  height: 3.5cm;
  padding: 20px;
  margin: 0;
  border-radius: 20px;
  border: none;
  background-color: white;
  transition: 0.4s;
} 
.card div:hover{
    box-shadow: 2px 3px 40px white;
  border-radius: 20px;
  font-size: 15px;
  transform: translateY(-5px);
}
.card1{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 100px;
  margin-bottom: 80px;
  margin-left: 150px;
  margin-right: 150px;
}
.why1{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  background-color: rgb(207, 208, 207);
}
.card1 div{
  box-shadow: 2px 3px 20px grey;
  width: 8cm;
  height: 5cm;
  padding: 20px;
  margin: 0;
  border-radius: 20px;
  border: none;
  background-color: white;
  transition: 0.4s;
} 
.card1 div:hover{
    box-shadow: 2px 3px 40px white;
  border-radius: 20px;
  font-size: 15px;
  transform: translateY(-5px);
}
.card1 button{
  padding: 9px 46px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgb(124, 168, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
.card1 button:hover{
  background-color: rgb(172, 227, 136);
  border-radius: 20px;
  color: black;
}
footer{
  display: flex;
  flex-direction: row;
  gap: 250px;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(47, 47, 47);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.cardi{
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.main1{
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  margin-top: 50px;
  margin-bottom: 80px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(204, 204, 204);
  border-radius: 50px;
  padding: 70px 30px;
  color: black;
}
.main1 div{
  box-shadow: 2px 6px 20px grey;
  width: 10cm;
  height: 12cm;
  padding: 20px 30px;
  border-radius: 20px;
  text-align: left;
  background-color: white;
  transition: 0.4s ease-in-out;
}
.main1 div:hover{
    box-shadow: 2px 3px 40px white;
  border-radius: 20px;
  font-size: 15px;
  transform: translateY(-5px);
}
.div5{
  padding-top: 1px;
  color: rgb(1, 1, 1);
 padding-bottom: 1px;
 margin-top: 50px;
}
.main2{
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  gap: 130px;
  font-weight: bold;
  justify-content: center;
}
.main2 img{
  border-radius: 20px;
  width: 700px;
}
.main2 h2{
  font-size: 55px;
}
.main2 p{
  font-size: 20px;
}
.div6 img{
  border-radius: 40px;
  width: 250px;
  height: 250px;
}
.div6{
  font-weight: bold;
  display: flex;
flex-wrap: wrap;  
justify-content: center;
gap: 150px;
padding-bottom: 80px;
padding-top: 50px;
  background-color: rgb(204, 204, 204);
  
}
.div6 div{
box-shadow: 2px 6px 20px grey;
padding: 20px 40px;
border-radius: 20px;
font-size: 20px;
background-color: white;
transition: 0.4s ease-in-out;
}
.div6 div:hover{
      box-shadow: 2px 3px 30px white;
  border-radius: 20px;
  transform: translateY(-5px);
}
.div6 button{
  padding: 9px 56px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgb(124, 168, 96);
  transition: 0.5s;
  color: white;
  font-weight: bold;
}
.div6 button:hover{
  background-color: rgb(172, 227, 136);
  border-radius: 20px;
  color: black;
}
.div7 {
   display: flex;
   margin-top: 70px;
   justify-content: center;
   gap: 50px;
   margin-bottom: 50px;
}
.div7 div{
  box-shadow:  2px 6px 20px grey;
   display: flex;
   padding: 20px 60px;
   gap: 20px;
   border-radius: 200px;
   transition: 0.4s ease-in-out;
}
.div7 div:hover{
      box-shadow: 2px 3px 30px rgb(131, 172, 106);
  transform: translate(5px);
}
.main3 .cont{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    padding: 13px 55px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 10px rgb(187, 186, 186) ;
    transition: 0.5s;
}
label{
    margin-right:22px;
    font-size: 19px;
}
input:focus{
    transform: translate(4px);
  box-shadow: 1px 2px 13px  rgb(124, 168, 96);
  border-radius: 16px;
}
.main3{
  gap: 200px;
  margin-bottom: 60px;
  font-weight: bold;
}